<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kanvas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37044F7D2021C4D7009B9563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37044F912021C4D8009B9563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37044F9C2021C4D8009B9563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
